$bgc:#f9f1fe;
$bgc2:#fcfbfe;
$bgs:#dfdeee;
$bgph:#f1f0f3;
$primary-color:#6f83ff;
$primary2-color:#f1f3ff;
$pink:#ff33a5;
$cwhite:#d1d3d4;
$cwhite2:#6c757d;
$cwhite3:#e6f9f1;
$cblack2:#3a424b;
$cgreen:#40cf94;
.bgph{
    background-color:$bgph ;
}
.text-pink{
    color:$pink;
}
.bgs{
    background-color:$bgs;
}
.bgc{
    background-color: $bgc;
}
.bgc2{
    background-color: $bgc2;
}

.logo-img{
    width: 40px;
    height: 40px;
}

.side-img{
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.fa { 
    color: $cwhite2;
}
.log-market{
    width: 60px;
    height: 60px;
}


.w-280{
    width: 280px;
}
.w-200{
    width: 195px;
}
.vh-100 {
    height: 100%;
}

.btn {
    &:hover {
        
        .fa { 
            color: $primary-color; 
            
        }

    }
}

.ms-4.btn.my-1.d-block.text-start {
    position: relative;
  
    &:hover {
      .border-right-view {
        opacity: 1;
      }
    }
  
    .border-right-view {
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 60%;
      background-color: $primary-color;
      opacity: 0;
      transition: opacity 0.3s;
      margin-top: 7px;
    }
}

.haver {
    &:hover {
        background-color: $primary2-color !important; 
        .fa { 
            color: $primary-color !important; 
            
        }
    }
}

.havb {
    &:hover {
        background-color: $cblack2 !important;
        color: white !important;
    }
}

.black-text {
    color: black;
}
.static-1{
    width: 170px !important; 
    height: 150px !important;
}
.static-1-1{
    height: 180px !important;
}

.static-2{
    width: 120px;
    height: 200px !important;
}
.h-10{
    height: 95px !important;
}

.h-8{
    height: 88px !important;
}
.img-card{
    width: 100px;
    height: 140px;
}
.profs-img{
    height: 45px !important; 
    width: 45px !important; 
}
.border-pro{
    border-style: dotted !important;
    border-width: 2px;
    border-color: $cwhite;
}
.logo-nike{
    width: 25px !important; 
}
.prof-img{
    height: 40px !important; 
    width: 40px !important; 
}

.status{
    background-color: $cwhite3;
    color: $cgreen;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    padding-top: 5px;
    .fa{
        color: $cgreen;
    }
}
.fs-12{
    font-size: 12px;
}
.fs-15{
    font-size: 15px;
}







@media (max-width: 767px) {
    .w-200{
        width: 100px;
    }
  .side-img-sm{
        width: 85px;
        height: 85px;
    }
    .logo-img-sm{
        margin-left: 5px;
    }
    
}




